/* Custom properties */
:root {
  --feature-color: #333;
}

/* Global styles for consistent line-height and letter-spacing */
body {
  line-height: 1.6;
  letter-spacing: 0.02em;
  box-sizing: border-box;
}

/* Headings */
h1, h2, h3 {
  font-family: 'bitstream_vera_sans_monoroman', Courier, sans-serif;
  font-weight: bold;
  letter-spacing: 0.04em; /* Adjust letter-spacing for headings */
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
  line-height: 1.3;
}

h3 {
  font-size: 1.8em;
  line-height: 1.4;
}

/* Paragraphs */
li, p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
}

@font-face {
  font-family: 'bitstream_vera_sans_monoBdOb';
  src: url('fonts/veramono-bold-italic-webfont.woff2') format('woff2'),
       url('fonts/veramono-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitstream_vera_sans_monobold';
  src: url('fonts/veramono-bold-webfont.woff2') format('woff2'),
       url('fonts/veramono-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitstream_vera_sans_monoOb';
  src: url('fonts/veramono-italic-webfont.woff2') format('woff2'),
       url('fonts/veramono-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitstream_vera_sans_monoroman';
  src: url('fonts/veramono-webfont.woff2') format('woff2'),
       url('fonts/veramono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinbold';
  src: url('fonts/cabin-bold-webfont.woff2') format('woff2'),
       url('fonts/cabin-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinbold_italic';
  src: url('fonts/cabin-bolditalic-webfont.woff2') format('woff2'),
       url('fonts/cabin-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinitalic';
  src: url('fonts/cabin-italic-webfont.woff2') format('woff2'),
       url('fonts/cabin-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinmedium';
  src: url('fonts/cabin-medium-webfont.woff2') format('woff2'),
       url('fonts/cabin-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinmedium_italic';
  src: url('fonts/cabin-mediumitalic-webfont.woff2') format('woff2'),
       url('fonts/cabin-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinregular';
  src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
       url('fonts/cabin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinsemibold';
  src: url('fonts/cabin-semibold-webfont.woff2') format('woff2'),
       url('fonts/cabin-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cabinsemibold_italic';
  src: url('fonts/cabin-semibolditalic-webfont.woff2') format('woff2'),
       url('fonts/cabin-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset default styles for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
/* Global styles */
#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(208, 201, 201);
    font-family: 'cabinregular', Verdana, sans-serif;
    color: black;
  }
  
h1, h2 {
  text-align: center;
  font-family: 'bitstream_vera_sans_monoroman', Courier, sans-serif;
  padding: 0.15em;
}

/* Navbar styles */
.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--feature-color);
    color: white;
    padding: 2vw;
    text-align: center;
    max-width: 960px;
}
  
.navbar-text {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}
  
.navbar-ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10vw;
}

.router {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}
  
/* Main styles */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 64px;
  align-items: center;
}

.about-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 64px;
  align-items: center;
}

.main-other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-left {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  gap: 36px;
  flex: 1; /* Allow this container to grow and shrink as needed */
}

.about-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Allow this container to grow and shrink as needed */
}


.main-li {
  text-align: justify;
  font-size: 20px; 
}

.main-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  padding: 0;
  list-style-type: circle;
  gap: 1em;
}

.about-text {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  gap: 1em;
}

.contact-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  gap: 1em;
}

.main-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.avatar {
  max-width: 100%;
  height: auto;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
/* Contact styles */
button,
input
{
  font-family: inherit;
  font-size: 100%;
}

.interest-form {
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 250px;
  padding: 8px;
  margin: 0;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.message-input {
  width: 85%;
  max-width: 400px;
  padding: 72px;
  margin: 0;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

fieldset {
    margin-bottom: 18px;
    width: 70%;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  vertical-align: -12px;
  margin-left: 10px;
  margin-right: 6px;
  /* Customised checkmark */
  color: var(--feature-color); /* Custom property */
  padding: 0;
}

input[type="checkbox"]::before {
  /* Customised checkmark */
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  /* Hiding checkmark when not checked */
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Showing checkmark when checked */
  visibility: visible;
}

.contact-image {
  border-radius: 8px;
  max-width: 100%;
  height: auto; 
  }

/* Styling for footer */
.footer-container {
  display: flex;
  justify-content: center;
  bottom: 0;
  position: relative;
  width: 100%;
}

.footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--feature-color);
  color: white;
  text-align: center;
  width: 100%;
  max-width: 960px;
  padding: 2vw;
}

/* Button Styles */
/* Styling for buttons */
.button {
  color: #F9FAF8;
  background: var(--feature-color); /* Custom property */ 
  /* Rounded corner for buttons */
  border-radius: 8px;
  font-family: 'cabinregular', Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

/* Styling for button with class button1 */
.button1 {
  border: none;
  width: 100px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.button-con {
  border-radius: 8px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--feature-color); /* Custom property */ 
  padding: 32px;
  gap: 12px;
}

.button-text {
  color: #F9FAF8;
  margin-left: 2px;
  font-weight: bold;
  font-size: 18px;
}

.button2 {
  margin-left: 24px;
  margin-right: 12px;
  border: 2px solid #F9FAF8;
  padding: 10px 24px;
  cursor: pointer;
}

/* Styling for project table */
th, td {
  border: 1px solid white;
  padding: 12px;
  text-align: center;
  background-color: white;
  color: black;
}

th {
  font-weight: bold;
  background-color: var(--feature-color);
  color: white;
}

.project-a {
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.other-a {
  color: black;
  text-decoration: none;
  padding: 10px;
}


.project-a:hover {
  background-color: #f0f0f0;
}

table {
  width: 100%;
}

/* For screens smaller than 768px (phones) */
@media (max-width: 768px) {
  /* Adjust alignment and display for navbar links */
  .navbar-ul {
    gap: 4vw;
  }

  .main-container {
    width: 85%;
  }

  .main-left {
    flex-direction: column;
  }

  .main-text {
    width: 100%;
    padding: 1em;
  }

  .main-image {
    display: none;
  }

  .button-container {
    padding: 12px;
  }

  .button-con {
    flex-direction: column;
  }
}